html {
   font-family: Roboto, sans-serif;
   font-size: 16px;
   }



.container {
    width:  1022px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.header-info {
    background-color: #f1f3f4;
    height: 44px;
    display: flex;
}

.header-line {
    border-right: 1px solid #e2e2e2;
    height: 42px;
    margin: 0 20px;
}

.header-info-email, .header-info-phone {
    font-size: 15px;
}
.fa-mobile-alt {
    margin-right: 11px;
    font-size: 18px;
}

.fa-envelope {
    margin-right: 8px; 
}

.header-info-fb {
    width: 26px;
    height: 26px;
    margin-left: 12px;
    font-size: 26px;
    color:  #1287bf;
}

.header-nav {
    height: 132px;
/*    padding: 0 */
}

.header-logo-img {
/*    display: block;*/
   align-self: center;
}

.header-big-slogan {
font-family: Roboto;
color:  #424242;
font-size: 37px;
font-weight: 700;
line-height: .9;
}

.header-small-slogan {
font-family: Roboto;
color:  #424242;
font-size: 15px;
line-height: 1;
}


.header-slogan-wrapper {
    width: 147px;
/*    height: auto;*/
    margin: 0 206px 0 15px;
    
}

.flex-st {
   justify-content: flex-start;
}

.header-nav-menu-item {
 margin-right: 16px;
 letter-spacing: 0.01;
 line-height: 1;
}

.header-nav-menu-item:link, .header-nav-menu-item:active, .header-nav-menu-item:visited {
color:  #424242;
font-size: 15px;
font-weight: 700;
}
.header-nav-menu-item:hover {
color:  #de2b24;
}

.header-nav-menu-item::before {
content: '	\2022';
position: relative;
bottom: -3px;
left: -2px;
 color:  #424242;
margin-right: 15px;
   font-size: 24px;
}
.header-nav-menu-item:first-child::before {
content: '';
}

.header-nav-menu-item:nth-child(3):before {
    left: -7px;
    margin-right: 10px;
    }
.header-nav-menu-item:last-child::before {
    left: -5px;
    margin-right: 12px;
    }
/*Использовал фиксированные размеры так как это пиксель перфект, иначе бы паддинги ))*/

.header-nav-btn {
margin-left: 6px;
border-radius: 4px;
background-color:  #de2b24;
width: 171px;
height: 36px;
color:  #fff;
font-size: 15px;
font-weight: 700;
}


.header-banner {
    width: 100%;
  height: 590px;
  padding-top: 170px;
    background: #5a6d60 url(../img/header-banner-bg.png);
    background-size: cover;
    
}
.flex-cen-st-col {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.flex-cen-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-banner-slogan-big {
color:  #fff;
font-size: 48px;
font-weight: 700;
line-height: 1;
}

.header-banner-slogan-small {
color:  #fff;
font-size: 30px;
}

.header-banner-btn {
margin-top: 31px;
background-color:  #f8cd53;
border-radius: 5px;
width: 330px;
height: 69px;
color:  #fff;
font-size: 24px;
font-weight: 700;
}

.about-us {
    padding: 95px 0 143px;
}

.about-us-slogan-big {
/*color:  #424242;*/
font-size: 36px;
font-weight: 700;
line-height: 1;
}

.about-us-slogan-small {
/*color:  #424242;*/
font-size: 20px;
line-height: 26px;
}

.about-us-title-underline-black {
margin: 12px 0 46px;
background-color:  #000;
width: 47px;
height: 5px;
}

.about-us-title-underline-white {
margin: 13px 0 46px;
background-color:  #fff;
width: 47px;
height: 5px;
}

.about-us-items-wrapper {
    width: 911px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    
}

.about-us-item {
    width: 228px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.about-us-item-caption {
margin-bottom: 8px;
color:  #424242;
font-size: 22px;
font-weight: 700; 
}

.about-us-item-text {
color:  #5c5c5c;
font-size: 13.5px;
line-height: 22px;
    text-align: center;
}

.facebook-img {
 width: 83px;
height: 79px;
margin-bottom: 22px;
}

.landing-page-img {
    width: 66px;
height: 79px;
        margin-bottom: 27px;
}

.management-img {
    width: 84px;
height: 81px;
        margin-bottom: 19px;
}

.our-work {
padding-top: 105px;
background-color:  #de2b24;
height: 870px;
color: #fff;
}

.our-work-item {
width: 255px;
height: 253px;
 display: flex;  
background-color:  #f35e59;
    
}

.our-work-items-wrapper {
    display: flex;
    
}

.fa-paper-plane {
width: 36px;
height: 37px;
}

.our-work-caption-big {
    font-size: 26px;
font-weight: 700;
line-height: 1;
}

.our-work-caption-small {
    font-size: 16px;
font-weight: 500;
}

.paper-plane {
    width: 36px;
height: 37px;
    margin-bottom: 24px;
}

.contacts {
background-color:  #2a2a2a;
height: 492px;
/* padding-top: 5px; */
}

.contacts-slogan {
color:  #fff;
font-size: 29px;
font-weight: 700;
line-height: 1;
margin-bottom: -9px;
}

.social-netwoks-bar {
    width: 256px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 36px 0;
}

.social-netwoks-item {
border-radius: 1px;
border: solid 2px #515151;
/*background-color:  rgba(243, 243, 243, 0);*/
width: 49px;
height: 49px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}
.social-netwoks-item:hover {
border-color: #de2b24;
}
.contacts-subscribe {
    color:  #cecece;
font-size: 14px;
line-height: 1;
/* margin-bottom: -4px; */
}

.email-input {
margin: 31px 0 27px 0;
padding-left: 22px;
background-color:  #515151;
width: 683px;
height: 54px;
color:  #cecece;
font-size: 14px;
line-height: 1;
outline: none;
border: 0;
}
/*

.email-input:focus {
outline: none;
}*/



.submit-btn {
 border-radius: 1px;
border-style: solid;
border-width: 2px;
border-color:  #515151;
background-color:  rgba(243, 243, 243, 0);
width: 153px;
height: 53px;
color:  #fff;
font-size: 17px;
line-height: 1;
font-weight: 700;
}

.main-footer {
background-color:  #515151;
height: 67px;
color:  #cecece;
font-size: 14px;
line-height: 1;
}
